.flex{
    display: flex;}

.j-c-c{
    display: flex;
    justify-content: center;}

.j-c-b{
    display: flex;
    justify-content: space-between;}

.a-i-c{
    display: flex;
    align-items: center;}

.center{
    display: flex;
    justify-content: center;
    align-items: center;}

.top-logo{
    display: flex;
    justify-content: left;}
    
.j-c-a{justify-content: space-around;}
