@font-face {
    font-family: 'Graphik LC TT';
    src: url('./fonts/semibold/GraphikLCG-Semibold.eot');
    src: url('./fonts/semibold/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/semibold/GraphikLCG-Semibold.woff2') format('woff2'),
        url('./fonts/semibold/GraphikLCG-Semibold.woff') format('woff'),
        url('./fonts/semibold/GraphikLCG-Semibold.ttf') format('truetype'),
        url('./fonts/semibold/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    
    src: url('./fonts/regular/GraphikLCG-Regular.eot');
    src: url('./fonts/regular/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/regular/GraphikLCG-Regular.woff2') format('woff2'),
        url('./fonts/regular/GraphikLCG-Regular.woff') format('woff'),
        url('./fonts/regular/GraphikLCG-Regular.ttf') format('truetype'),
        url('./fonts/regular/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;}

*, html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-size: 0;
    font-family: Graphik LC TT;}
    

.font1 a{
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: Left;
    vertical-align: Top;
    color: #000000;}
.font2{
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: Center; 
    vertical-align: Top;
    color: #000000;}

.font3 h1{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    text-align: left;
    vertical-align: Top;
    color: #000000;}
.font3 p{
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    text-align: left;
    vertical-align: Top;
    color: #000000;}
.font3 h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    vertical-align: Top;
    color: #000000;}  
.font4{
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: Left;
    vertical-align: Top;
    color: #000000;
    margin-top: 25px;}
.font5 h2{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    color: #000000;}
.font6 h2{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    vertical-align: top;
    color: #000000;}
.font7, .font7 p, a{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    color: #000000;}
.font8 p{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
    color: #000000;}
.font9 h3, h4{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    vertical-align: top;
    color: #000000;}
.font10 h2{
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    vertical-align: top;
    color: #000000;}
.font11 h2{
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    vertical-align: top;
    color: #000000;}
.font12 p{
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    color: #000000;}
.font13 a{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    color: #FFFFFF;}
.font14 a{
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    vertical-align: top;
    color: #FFFFFF;}
.font15 h3{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    vertical-align: top;
    color: #000000;}
.font16{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    vertical-align: top}
.font17 a, p{
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
    vertical-align: top;
    color: #000000;}

.font400{font-weight: normal;}
.font600{font-weight: 600;}


.white{background: rgb(255, 255, 255);}
.blue{background: #C9E8F2;}
.light-grey{background: #EEEEEE;}
.orange{background: #FF6336;}
.peach{background: #DABC98;}
.rose{background: #FF9C7D;}
.yellow{background: #FFF8E4;}

.descktop{width: 100%;}

header{
    padding: 31px 51px 24px 51px;
    border-bottom: 1px solid #0000004c;}
.top-menu{width: 1157px;}
.top-logo{margin-right: 51px;}
.header-menu-link{
    display: block;
    margin-right: 42px;
    color: #0000;}
.header-button{
    width: 120px;
    height: 45px;
    padding: 0 21.5px;
    margin-right: 10px;
    color: #fff;
    border: none;
    justify-items: right;
    cursor: pointer;}

section{
    max-width: 1330px;
    margin: auto;}
#first{
    padding-top: 97px;
    padding-bottom: 35px;}
.buttons{
    width: 160px;
    height: 60px;
    color: #fff;
    border: none;
    margin-right: 10px;
    margin-top: 50px;
    cursor: pointer;}
.button-left{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.504);
    color: #000000;}
.first-form{
    max-width: 620px;
    margin-top: 32px;
    margin-left: 20px;}
.first-form p{
    margin-top: 51px;
    max-width: 471px;}
#first img{
    margin-top: 54px;
    padding-right: 18px;
    margin-right: 12px;}

#second{
    padding: 108px 20px 104px 20px;
    margin-top: 137px;
    background: #FF9C7D;}
.second-form h2{
    margin-left: 340px;
    max-width: 720px;}
.second-form div{
    height: 53px;
    margin-top: 70px;}
   
#third{
    padding: 0 20px;
    margin-top: 90px;}
.third-form{max-width: 491px;}
.third-form p{
    margin-top: 30px;
    margin-bottom: 30px;}
.third-form a{font-weight: 600;}   
.third{max-width: 520px;}

#fourth{
    padding: 0 20px;
    margin-top: 250px;}
#fourth a{font-weight: 600;}
.fourth-form{
    max-width: 450px;
    margin-left: 137px;}
.fourth-form p{margin-bottom: 36px;}
.fourth{max-width: 520px;}

.fifth{
    padding: 120px 115px 150px 115px;
    margin-top: 120px;}
.fifth h2{margin-bottom: 58px;}
.inner{margin-top: 58px;}
.box{max-width: 330px;}
.box img{
    margin-left: 85px;
    margin-top: 21px;
    width: 160px;
    height: 120px;}
.box h3, p{margin-top: 21px;}

#sixth{padding: 154px 20px 217px 20px;}
#sixth .box1 p, .box2 p, .box3 p{max-width: 409px;}
#sixth .box1{margin-top: 75px;}
#sixth .box1 h3{margin-top: 49px;}
#sixth .box2{margin-top: 92px;}
#sixth .box2 h3{margin-top: 67px;}
#sixth .box3{margin-top: 84px;}
#sixth .box3 h3{margin-top: 58px;}
#sixth .box1 p, .box3 p{margin-top: 34px;}
#sixth .box2 p{margin-top: 29px;}
#sixth p{margin-bottom: 25px;}

.seventh{
    width: 100%;
    padding: 53px 20px;}
.font9 h4{font-weight: 400;}
.form p{margin-top: 23px;}
.form img{margin-top: 7px;}

.eighth{
    width: 100%;
    padding: 69px 20px 80px 20px;}
.eight-form{
    max-width: 809px;
    padding-right: 125px;
    border-right: 1px solid black;}
.eight-form h2{
    max-width: 461px;
    margin-left: 67px;}
.eight img{margin-left: 71px;}

#ninth{
    padding: 159px 153px 8px 153px;}
#ninth h2{
    margin: 0 auto;
    max-width: 791px;}
#ninth p{
    margin: 0 auto;
    max-width: 539px;}
#ninth img{margin-top: 25px;}
#ninth button{
    margin: 32px 0 162px 415px;
    width: 193px;}

.tenth{
    max-width: 784px;
    padding-top: 119px;
    padding-bottom: 161px;
    
    margin: 0 auto;}
.tenth p{text-align: center;}
.tenth button{
    margin-left: 312px;
    margin-right: 0;
    margin-top: 54px;
    background: #000000;}

.down-section{padding: 92px 86px 95px 75px;}

.down-left-box{max-width: 370px;}
.down-left-box img{margin-top: 29px;}
.down-left-box p{
    max-width: 290px;
    margin-top: 11px;
    margin-bottom: 15px;}

.down-right-box{
    padding-top: 5px;
    max-width: 850px;}
.right-box{width: 187px;}
.box-link{margin-top: 21px;}
.box-item{margin-top: 15px;}

footer{    
    max-width: 1330px;
    margin: 0 auto;
    padding:0 75px 48px 75px;}
.footer-inner{
    padding-top: 48px;
    border-top: 1px solid #1D1D1B;}
.footer-left{max-width: 411px;}
.footer-left img{margin-right: 14px;}
footer p{margin-top: 0;}

.header-burger{display: none;}
.right-top, .right-down{display: inline-flex;}


@media screen and (max-width: 1200px)  {
    .font3 h1{
        font-size: 55px;}
    .font6 h2, .font5 h2{
        font-size: 40px;
        line-height: 50px;}
    .font7 a{font-weight: 600;}
    .font11 h2{font-size: 50px;}
    .top-menu{display: none;}
    .header{justify-content: space-between;}
    .header-burger{
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin-top: 7px;
        border-top: 4px solid #000000;
        border-bottom: 4px solid #000000;}
    .header-burger span{
        position: absolute;
        background-color: #000000;
        width: 100%;
        height: 4px;
        left: 0;
        top: 10px;}   
    #first img{display: none;}
    .third-form{
        margin-right: 50px;
        margin-left: 20px;}
    .fourth-form{margin-left: 50px;}
    #sixth .box1, .box2, .box3{margin-right: 10px;} 
    .eighth{display: block;}
    .eight-form{
        border: none;
        justify-content: center;}
    .eight{
        margin-top: 30px;
        justify-content: center;}
    #ninth img{display: none;}
    #ninth .buttons{margin-left: 40%;}
    .down-right-box{
        display: block;
        margin-left: 20px;}
    .down-section{flex-wrap: wrap;}
    .right-down{margin-top: 20px;}
    }

      

@media screen and (max-width: 960px)  {

    .font3 h1,.font11 h2{
        font-size: 30px;
        line-height: 35px;}
    .font3 p{
        font-size: 20px;
        line-height: 30px;}
    .font5 h2, .font6 h2{
        font-size: 25px;
        line-height: 30px;}
    .font5 h2{
        margin-left: 0;
        text-align: center;}
    .font7 a{font-weight: 600;}

    .inner{
        width: 49%;
        padding: 0;
        margin: 0;
        font-size: 0;
        display: inline-block;
        vertical-align: top;}
    .box{
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        padding-right: 10px;} 
    
    #third, #fourth {
        width: 100%;
        margin-top: 100px;
        padding: 0 75px;}
    .fourth-form, .third, .third-form{
        width: 70%;
        margin-left: 0;} 
    #third img, #fourth img{display: none;}

    #sixth div{display: block;}
    .box1, .box2, .box3{ width: 70%;} 
    #sixth .box1 p, #sixth .box2 p, #sixth .box3 p{ width: 100%;}
    .eight-form{padding-right: 0;}
    #ninth h2, p{width: 100%;}

    .tenth button{margin-left: 40%;} 
 
}

@media screen and (max-width: 800px){ 
    #second div{flex-wrap: wrap;}
    .second-form img{margin-right: 15px;}
    .fifth{
        display: block;
        padding: 90px 0;}
    .inner{
        display: block;
        margin: 0 auto;}
   
    #sixth img{display: none;}
    #sixth{
        padding-top: 90px;
        padding-bottom: 90px;}
    .photo{display: none;}
    
   .eighth{width: 100%;}
    .eight-form h2{
        width: 100%;
        margin: 0;
        text-align: center;}
    #ninth{padding: 90px 50px;}
    #ninth button{margin: 32px 0;}
    .font15 h3{
        font-size: 20px;
        line-height: 25px;} 
    .right-box{
        padding-left: 0;
        margin-top: 20px;}   

}



@media screen and (max-width: 650px) {
    
    .box img{display: none;}
    .font9 h3, .font3 h3, .font9 h4, .font10 h2, .font11 h2{
        font-size: 20px;
        line-height: 25px;}
    .font7 p, .font3 p, .font7 a, .font12 p{
        font-size: 16px;
        line-height: 18px;}
    .inner{width: 100%;}
    .eight-form img{display: none;}
    .eight{
        display: block;
        margin: 0 auto;}
    .eighth div{margin-top: 20px;}
    #ninth .buttons, .tenth button{margin-left: 30%;}
   
}  

@media screen and (max-width: 450px){
    .first-form p{padding-right: 10px;}
    .right-top, .right-down{display: block}
    .down-left-box img{display: none;}
    .footer-left{display: block;}
}

@media screen and (max-width: 350px){
    .first-form div{flex-wrap: wrap;} 
}




