*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;}

.white{background: rgb(255, 255, 255);}
section{
    width: 1330px;
    padding-left: 0 55px;
    margin: auto;}

header{
    width: 100%;
    position: fixed;
    top: 0;
    padding-top: 31px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 24px;
    border-bottom: 1px solid #0000004c;}

.top-menu{width: 1157px;}

.top-logo{margin-right: 51px;}

.header-menu-link{
    margin-right: 42px;
    color: #000;}
.header-button{
    width: 120px;
    height: 45px;
    background: #FF6336;
    padding: 8px 21.5px;
    color: #fff;
    border: none;
    justify-items: right;}
.button-left{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.504);
    color: #000;}
#first{
    margin-top: 136px;
    padding: 0px 20;}
.first-form{padding-top: 18px;}


#second{width: 100%;}
.first-form{
    width: 445px;
}