@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Playfair+Display:ital@1&display=swap');
*, html, body{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-size: 20px;}

.tab{color: green;}

.tab1, .tab2{color: brown;}

#tab3{color: blueviolet;}

div span{color: red;}

b{color: aqua;}

span+p{color: chocolate;}

a[href]{color: rgb(142, 142, 41);}

h3, h4{color: orange;}

h3~p{color: rgb(66, 113, 66);}

h2{color: darkslategray;}





